#card-review-archive-list {
  margin-bottom: 2%;
}

.archive-item {
  color: #666666;
  padding: 2%;
}

.archive-name {
  color: #212121;
  font-size: 16px;
  padding-left: 2%;
  padding-bottom: 0.5%;
}
