table {
    width: 100%;
}

table tbody {
    background: border-box;
    background-color: white;
    box-shadow: 0px 5px 20px #0000000A;
    border-radius: 16px;
    border-collapse: collapse;
}

table td {
    padding: 10px 1px;
    max-width: 100px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding-left: 9px;
}

table th {
    padding: 10px 6px;
    padding-left: 10px;
    color: white;
}

table tbody td {
    display: table-cell;
}

table tbody tr:first-child td:first-child {
    border-top-left-radius: 15px;
}

table tbody tr:first-child td:last-child {
    border-top-right-radius: 15px;
}

table tbody tr:last-child td:first-child {
    border-bottom-left-radius: 15px;
}

table tbody tr:last-child td:last-child {
    border-bottom-right-radius: 15px;
}

table tbody .td-action {
    white-space: nowrap;
    text-overflow: unset;
    padding-right: .7rem;
}

table thead .td-text{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
}

table tbody .td-item{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #666666;
}

.empty-table{
    font-family: 'Roboto', sans-serif;
    font-size: 14px/50px;
    color: #666666;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: white;
}

.table-striped tbody tr:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.04);
}

.noRegisters {
    height: 450px;
}

.textNoRegister {
    color: #CCCCCC;
}