$bg-navbar: #2a579a;
$bg-icon: white;
$bg-active: rgba(255, 255, 255, 0.14);
$bg-badge: #0275d8;
$description: #838383;

.container-fluid {
  .logo1,
  .logo2 {
    background-size: cover;
  }
  .logo1 {
    height: 4vh;
  }
  .logo2 {
    height: 3vh;
  }
}

.bg-navbar {
  background: $bg-navbar;
  .dropdown-admin {
    width: 25vw;
    box-shadow: 0px 5px 20px #00000029;
    border-radius: 13px;
  }
  .dropdown-user {
    width: 19vw;
    box-shadow: 0px 5px 20px #00000029;
    border: 1px solid #00000033;
    border-radius: 13px;
  }
  .nav-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .badge {
    background: $bg-badge;
    border-radius: 20px;
  }
  .information-place {
    font-size: 13px;
  }
  .active {
    background: $bg-active;
  }
  .fa-chevron-down,
  .fa-user,
  .fa-sign-out {
    color: $bg-icon;
    font-size: 20px;
    cursor: pointer;
  }
  .btn-save {
    font-size: 13px;
  }
  .photo-user {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    background-size: contain;
  }
  h4 {
    font-size: 24px;
  }
  .name-user {
    margin: 0;
    padding: 0;
    font-size: 14px;
  }
  .office-user {
    color: $description;
    font-size: 11px;
    margin: 0;
    padding: 0;
  }
  .dropdown-administration {
    width: 30vw;
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: #16181b;
      text-decoration: none;
      background-color: #fff;
    }
  }
  .dropdown-exit {
    width: 30vw;
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: #16181b;
      text-decoration: none;
      background-color: #fff;
    }
  }
  .dropdown-receivement {
    .dropdown-item:hover,
    .dropdown-item:focus {
      color: #16181b;
      text-decoration: none;
      background-color: #fff;
    }
  }
  .dropdown-receivement,
  .dropdown-administration,
  .dropdown-exit {
    .dropdown-item {
      font-size: 16px;
    }
  }
  .no-button {
    cursor: default;
  }
  .user {
    padding-left: 0.8rem;
    padding-right: 0.8rem;
  }
}

.dropdown-toggle::after {
  content: none !important;
}

.installation-label {
  font-size: 12px;
  opacity: 0.6;
}

.branch-office-label {
  font-size: 12px;
}
