img {
    height: 68vh;    
}

.text-gray {
    color: #666666;
    font-family: 'Roboto', sans-serif;
    padding-right: 13.5vw;
    font-size: 12px;
}

a {
    text-decoration: underline;
    color: rgb(73, 73, 73);
    font-weight: 600;
}