<main role="main" class="container">
    <app-generic-page [config]="config" #genericPage></app-generic-page>
</main>

<ng-template #filterModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filtros</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss() ; clearFilters()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body d-flex flex-lg-wrap">
        <div class="form-group col-2">
            <label for="cep">CEP</label>
            <input type="text" class="form-control" placeholder="Digite o CEP" [(ngModel)]="cepFilter" maxlength="9"
                mask="00000-000" ngbAutofocus>
        </div>
        <div class="form-group col-4">
            <label for="publicPlace">Logradouro</label>
            <input type="text" class="form-control" placeholder="Digite a Rua, Avenida" [(ngModel)]="publicPlaceFilter"
                maxlength="250">
        </div>
        <div class="form-group col-4">
            <label for="neighborhood">Bairro</label>
            <input type="text" class="form-control" placeholder="Digite o Bairro" [(ngModel)]="neighborhoodFilter"
                maxlength="250">
        </div>
        <div class="form-group col-2">
            <label for="neighborhood">Número</label>
            <input type="text" class="form-control" placeholder="Digite o Numero" [(ngModel)]="numberFilter"
                maxlength="25">
        </div><br>

        <div class="col-7 flex-column">
            <div class="row">
                <div class="form-group col-6">
                    <label for="complement">Complemento</label>
                    <input type="text" class="form-control" placeholder="Digite o Complemento: Casa, Apartamento"
                        [(ngModel)]="complementFilter" maxlength="100">
                </div>
                <div class="form-group col-6">
                    <label for="reference">Referência</label>
                    <input type="text" class="form-control" placeholder="Digite a Referência"
                        [(ngModel)]="referenceFilter" maxlength="100">
                </div>

                <div class="form-group col-5">
                    <label for="state">Estado</label>
                    <ng-select [items]="listUf" bindLabel="text" bindValue="text" [(ngModel)]="ufFilter"
                        (change)="fillCityCombo($event?.id)" placeholder="Selecione">
                    </ng-select>
                </div>
                <div class="form-group col-7">
                    <label for="city">Cidade</label>
                    <ng-select [items]="listCities" bindLabel="text" bindValue="text" [(ngModel)]="cityFilter"
                        placeholder="Selecione" [class.disabled]="!ufFilter">
                    </ng-select>
                </div>
            </div>
        </div>
        <div class="form-group col-5 input-description">
            <label for="description">Descrição</label>
            <textarea rows="4" cols="50" class="form-control input-description" [(ngModel)]="descriptionFilter"
                placeholder="Digite a Descrição" maxlength="250"></textarea>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-success btn-clear-filter mr-auto p-2 bd-highlight"
            (click)="clearFilters(); genericPage.getData();">
            <span class="fa fa-times-circle"></span>
            Limpar Filtros
        </button>
        <button type="button" class="btn btn-outline-success btn-filter"
            (click)="genericPage.getData(); modal.dismiss();">
            <span class="fa fa-search"></span>
            Pesquisar
        </button>
    </div>
</ng-template>

<ng-template #AddressModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ edit ? 'Editar Endereço Complementar' : 'Novo Endereço Complementar'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(); cancelAction();">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <form nz-form [formGroup]="form" class="needs-validation" (ngSubmit)="onSubmit()" novalidate>
        <div class="modal-body d-flex flex-lg-wrap">
            <div class="form-group col-2">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" mask="00000-000"
                    [class.is-invalid]="cep.dirty && cep.invalid || cep.hasError('invalidCep')" placeholder="12345-678"
                    formControlName="cep" maxlength="9" ngbAutofocus>
                <div class="invalid-feedback">
                    Campo Obrigatório
                </div>
            </div>
            <div class="form-group col-4">
                <label for="publicPlace">Logradouro</label>
                <input type="text" class="form-control"
                    [class.is-invalid]="publicPlace.dirty && publicPlace.invalid" placeholder="Rua; Av"
                    formControlName="publicPlace" maxlength="250">
            </div>
            <div class="form-group col-4">
                <label for="neighborhood">Bairro</label>
                <input type="text" class="form-control" [class.is-invalid]="neighborhood.dirty && neighborhood.invalid"
                    placeholder="Bairro" formControlName="neighborhood" maxlength="250">
            </div>
            <div class="form-group col-2">
                <label for="number">Número</label>
                <input type="text" class="form-control" placeholder="N°" formControlName="number" maxlength="25">
                <div class="invalid-feedback">
                    Campo Obrigatório
                </div>
            </div><br>

            <div class="col-7 flex-column">
                <div class="row">
                    <div class="form-group col-6">
                        <label for="complement">Complemento</label>
                        <input type="text" class="form-control" placeholder="Complemento" formControlName="complement"
                            maxlength="100">
                    </div>
                    <div class="form-group col-6">
                        <label for="reference">Referência</label>
                        <input type="text" class="form-control" placeholder="Referência" formControlName="reference"
                            maxlength="100">
                    </div>
                    <div class="form-group col-5">
                        <label>Estado</label>
                        <ng-select [items]="listUf" bindLabel="text" bindValue="id"
                            [class.is-invalid]="ufId.dirty && ufId.invalid" formControlName="ufId"
                            (change)="fillCityCombo($event?.id)" placeholder="AB">
                        </ng-select>
                        <div class="invalid" *ngIf="(ufId.dirty && ufId.invalid)">
                            Campo Obrigatório
                        </div>
                    </div>
                    <div class="form-group col-7">
                        <label for="city">Cidade</label>
                        <ng-select [items]="listCities" bindLabel="text" bindValue="id" formControlName="cityId"
                            [class.is-invalid]="cityId.dirty && cityId.invalid" placeholder="Cidade"
                            [class.disabled]="!ufId.dirty">
                        </ng-select>
                        <div class="invalid" *ngIf="(cityId.dirty && cityId.invalid)">
                            Campo Obrigatório
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group col-5 input-description">
                <label for="description">Descrição</label>
                <textarea rows="4" cols="50" class="form-control input-description"
                    [class.is-invalid]="description.dirty && description.invalid" placeholder="Descrição"
                    formControlName="description" maxlength="250"></textarea>
                <div class="invalid-feedback">
                    Campo Obrigatório
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger btn-cancel" (click)="modal.dismiss(); cancelAction();">
                <span class="fa fa-times"></span>
                Cancelar
            </button>
            <button type="button" class="btn btn-outline-success btn-save" (click)="onSubmit()">
                <span class="far fa-save"></span>
                Salvar
            </button>
        </div>
    </form>
</ng-template>