<div class="container">
  <h3 ngbAutofocus>Saída de Material Direta para Guarda Provisória</h3>
  <form [formGroup]="form" class="needs-validation" (ngSubmit)="onSubmit()">
    <div class="form-group d-flex flex-lg-wrap">
      <div class="form-group col-4">
        <label for="">Código Destinatário</label>
        <input type="text" class="form-control" placeholder="Código Destinatário" maxlength="100" disabled>
      </div>
      <div class="form-group col-4">
        <label for="">Nome Destinatário</label>
        <input type="text" class="form-control" placeholder="Nome Destinatário" maxlength="100" disabled>
      </div>
      <div class="form-group col-4">
        <label for="">Tipo Destinatário</label>
        <input type="text" class="form-control" placeholder="Tipo Destinatário" maxlength="100" disabled>
      </div>
      <div class="form-group col-12">
        <label for="">Endereço Destinatário</label>
        <input type="text" class="form-control" placeholder="Endereço Destinatário" maxlength="100" disabled>
      </div>
    </div>

    <table class="table table-details">
      <thead>
        <tr>
          <th>Item</th>
          <th>Cod. Material</th>
          <th>Descrição</th>
          <th>Un.</th>
          <th>Motivo</th>
          <th>Saída</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of itemList ; let i = index">
          <td> {{ i + 1 }} </td>
          <td>
            <app-live-search label="code" value="code"
                            [items]="materials"
                            (search)="customSearchFn($event)"
                            (change)="setMaterial($event, i)">
            </app-live-search>
          </td>
          <td>{{ item.description }}</td>
          <td>{{ item.unity }}</td>
          <td>
            <ng-select [items]="reasonCustody" bindLabel="text" bindValue="id" (change)="setReasonCustody($event, i)">
            </ng-select>
          </td>
          <td>
            <input type="number" class="form-control" placeholder="Saída" maxlength="100"
              (keyup)="setQuantity($event, i)">
          </td>
        </tr>
      </tbody>
    </table>
    <div class="form-group col-12">
      <button type="button" class="btn btn-outline-success btn-block btn-input mt-3" (click)="addNewItem()">
        <span class="fa fa-plus"></span> Novo Item
      </button>
    </div>

    <div class="form-group d-flex flex-lg-wrap">
      <div class="form-group col-4">
        <label for="receiverUser">Responsável pela Entrega</label>
        <ng-select bindLabel="text" bindValue="id" formControlName="userDeliveryId" placeholder="Selecione">
          <ng-option *ngFor="let responsible of responsibles" [value]="responsible.id">{{ responsible.text }}
          </ng-option>
        </ng-select>
      </div>
      <div class="form-group col-4">
        <app-datepicker labelName="Data Entrega" (dateChange)="setDeliveryDate($event)" formControlName="deliveryDate">
        </app-datepicker>
      </div>
      <div class="form-group col-4">
        <label for="receiverUser">Responsável pela Retirada</label>
        <ng-select bindLabel="text" bindValue="id" formControlName="userWithdrawId" placeholder="Selecione">
          <ng-option *ngFor="let responsible of responsibles" [value]="responsible.id">{{ responsible.text }}
          </ng-option>
        </ng-select>
      </div>
    </div>

    <div class="form-group col-12">
      <label for="emails">Incluir E-mails</label>
      <ng-select [addTag]="true" [multiple]="true" placeholder="Selecione" formControlName="emails">
      </ng-select>
    </div>

    <div class="form-group col-12">
      <label for="notes">Observações</label>
      <textarea rows="4" cols="50" class="form-control" placeholder="Observações" maxlength="300"
        formControlName="notes"></textarea>
    </div>

    <div class="d-flex">
      <div class="col">
        <app-attach-file [title]="'RMA Assinada'" [multiple]="true" (change)="rmaHandler($event.target.files)">
        </app-attach-file>
      </div>
      <div class="col">
        <app-attach-file [title]="'Anexos Adicionais (Notas fiscais, documentos)'" [multiple]="true"
          (change)="attachmentsHandler($event.target.files)">
        </app-attach-file>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success btn-filter mr-auto" (click)="saveAsDraft()">
        <span class="fas fa-pen"></span>
        Salvar como Rascunho
      </button>
      <button type="button" class="btn btn-outline-success btn-cancel" (click)="modal.dismiss()">
        <span class="fa fa-times"></span> Cancelar
      </button>
      <button type="button" class="btn btn-outline-success btn-filter">
        <span class="fas fa-list-alt"></span> Emitir Lista de Separação
      </button>
      <button type="button" class="btn btn-outline-success btn-save" (click)="reviewOrder()">
        <span class="fas fa-eye"></span> Revisar
      </button>
    </div>
  </form>
</div>


<ng-template #finalDetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title blue-title" id="modal-basic-title" ngbAutofocus>Saída</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card double-card-one">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="information-title">Tipo Saída</span>
              <p class="information-item">Guarda Provisória</p>
            </div>
            <div class="col">
              <span class="information-title">Registrado por</span>
              <p class="information-item">{{ (user$ | async)?.Username | abbreviateName }}</p>
            </div>
            <div class="col">
              <span class="information-title">Data Registro</span>
              <p class="information-item">{{ date | date: 'dd/MM/yyyy' }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card double-card-two">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="information-title">Inst. Saída</span>
              <p class="information-item">-</p>
            </div>
            <div class="col">
              <span class="information-title">Resp. Entrega</span>
              <p class="information-item">{{ this.userDeliveryIdResult | abbreviateName }}</p>
            </div>
            <div class="col">
              <span class="information-title">Data Entrega</span>
              <p class="information-item">{{ this.deliveryDateResult | date: 'dd/MM/yyyy' }}</p>
            </div>
            <div class="col">
              <span class="information-title">Resp. Retirada</span>
              <p class="information-item">{{ this.userWithdrawIdResult | abbreviateName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card single-card single-card--bottom-line">
    <div class="card-body single-card__body">
      <div class="row">
        <div class="col">
          <span class="information-title">Código Destinatário</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Nome Destinatário</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Tipo Destinatário</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Endereço Destinatário</span>
          <p class="information-item">-</p>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped modal-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Cod. Material</th>
        <th>Descrição</th>
        <th>Un.</th>
        <th>Motivo</th>
        <th>Saída</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.materialCode }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.unity }}</td>
        <td>{{ item.disciplineId }}</td>
        <td>{{ item.amount }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-6">
      <app-review-archive-list componentTitle='RMA Assinada' componentClass="card double-card-first-position"
        [archiveList]="rmaFile"></app-review-archive-list>
    </div>
    <div class="col-6">
      <app-review-archive-list componentTitle='Anexos Adicionais (Notas fiscais, documentos)'
        componentClass="card double-card-second-position" [archiveList]="additionalAttachments"></app-review-archive-list>
    </div>
  </div>

  <div class="card single-card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="information-title">Observações</span>
          <p class="information-item">{{ this.notesResult | emptyField }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-print mr-auto"
      (click)="genericPage.getData(); modal.dismiss()">
      <span class="fa fa-print"></span> Imprimir
    </button>
    <button type="button" class="btn btn-outline-success btn-cancel" (click)="modal.dismiss()">
      <span class="fa fa-times"></span> Fechar
    </button>
    <button type="button" class="btn btn-outline-success btn-filter" (click)="saveAsDraft()">
      <span class="fas fa-pen"></span>
      Salvar como Rascunho
    </button>
    <button type="button" class="btn btn-outline-success btn-save" (click)="SaveReceivement(); modal.dismiss()">
      <span class="fas fa-check"></span> Finalizar
    </button>
  </div>
</ng-template>
