<div class="container">
  <h3 ngbAutofocus>Criar RMA</h3>
  <form [formGroup]="form" class="needs-validation" (ngSubmit)="onSubmit()">
  <div class="form-group d-flex flex-lg-wrap">
    <div class="form-group col-3">
      <label for="">Requisitante</label>
      <input type="text" class="form-control" placeholder="Requisitante" maxlength="100" disabled>
    </div>
    <div class="form-group col-3">
      <label for="installationId">Instalação de Saída</label>
      <ng-select bindLabel="text" bindValue="id" formControlName="installationId" placeholder="Selecione">
        <ng-option *ngFor="let installation of installations" [value]="installation.id">{{ installation.text }}
        </ng-option>
      </ng-select>
    </div>
    <div class="form-group col-3">
      <label for="resposableId">Responsável pela Retirada</label>
      <ng-select bindLabel="text" bindValue="id" formControlName="resposableId" placeholder="Selecione">
        <ng-option *ngFor="let responsible of responsibles" [value]="responsible.id">{{ responsible.text }}
        </ng-option>
      </ng-select>
    </div>
    <div class="form-group col-3">
      <label for="">Aprovador RMA</label>
      <input type="text" class="form-control" placeholder="Aprovador RMA" maxlength="100" disabled>
    </div>
    <div class="form-group col-3">
      <label for="">Código Destinatário</label>
      <input type="text" class="form-control" placeholder="Código Destinatário" maxlength="100" disabled>
    </div>
    <div class="form-group col-3">
      <label for="">Nome</label>
      <input type="text" class="form-control" placeholder="Nome" maxlength="100" disabled>
    </div>
    <div class="form-group col-3">
      <label for="">Tipo</label>
      <input type="text" class="form-control" placeholder="Tipo" maxlength="100" disabled>
    </div>
    <div class="form-group col-3">
      <label for="">Endereço</label>
      <input type="text" class="form-control" placeholder="Endereço" maxlength="100" disabled>
    </div>
  </div>

  <table class="table table-details">
    <thead>
      <tr>
        <th>Item</th>
        <th>Cod. Material</th>
        <th>Descrição</th>
        <th>Un.</th>
        <th>Disciplina</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList ; let i = index">
        <td> {{ i + 1 }} </td>
        <td>
          <ng-select [items]="materials" bindLabel="code" bindValue="code" (search)="customSearchFn($event)"
            (clear)="customSearchFn({ term: '' })" (change)="setMaterial($event, i)">
          </ng-select>
        </td>
        <td>{{ item.description }}</td>
        <td>{{ item.unity }}</td>
        <td>
          <ng-select [items]="disciplines" bindLabel="text" bindValue="id" (change)="setSubject($event, i)">
          </ng-select>
        </td>
        <td>
          <input type="number" class="form-control" placeholder="Quantidade" maxlength="100"
            (keyup)="setQuantity($event, i)">
        </td>
      </tr>
    </tbody>
  </table>
  <div class="form-group col-12">
    <button type="button" class="btn btn-outline-success btn-block btn-input mt-3" (click)="addNewItem()">
      <span class="fa fa-plus"></span> Novo Item
    </button>
  </div>



  <div class="form-group col-12">
    <label for="comments">Observações</label>
    <textarea rows="4" cols="50" class="form-control" placeholder="Observações" maxlength="300"
      formControlName="comments"></textarea>
  </div>

  <div class="col">
    <app-attach-file title="Anexos Adicionais" [multiple]="true" (change)="attachmentsHandler($event.target.files)">
    </app-attach-file>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-cancel" (click)="modal.dismiss();">
      <span class="fa fa-times"></span> Cancelar
    </button>
    <button type="button" class="btn btn-outline-success btn-save" (click)="reviewOrder()">
      <span class="fas fa-eye"></span> Revisar
    </button>
  </div>
  </form>
</div>

<ng-template #finalDetailsModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title blue-title" id="modal-basic-title" ngbAutofocus>RMA </h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="card double-card-one">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="information-title">Requisitante</span>
              <p class="information-item">-</p>
            </div>
            <div class="col">
              <span class="information-title">Instalação de Saída</span>
              <p class="information-item">{{ this.installationResult | emptyField }}</p>
            </div>
            <div class="col">
              <span class="information-title">Status</span>
              <p class="information-item">-</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="card double-card-two">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <span class="information-title">Aprovador</span>
              <p class="information-item">-</p>
            </div>
            <div class="col">
              <span class="information-title">Data Criação</span>
              <p class="information-item">-</p>
            </div>
            <div class="col">
              <span>Data Aprovação</span>
              <p class="information-item">-</p>
            </div>
            <div class="col">
              <span class="information-title">Resp. Retirada</span>
              <p class="information-item">{{ this.resposableResult | abbreviateName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card single-card single-card--bottom-line">
    <div class="card-body single-card__body">
      <div class="row">
        <div class="col">
          <span class="information-title">Código Destinatário</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Nome Destinatário</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Tipo</span>
          <p class="information-item">-</p>
        </div>
        <div class="col">
          <span class="information-title">Endereço</span>
          <p class="information-item">-</p>
        </div>
      </div>
    </div>
  </div>

  <table class="table table-striped modal-table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Cod. Material</th>
        <th>Descrição</th>
        <th>Un.</th>
        <th>Disciplina</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList ; let i = index">
        <td>{{ i + 1 }}</td>
        <td>{{ item.materialCode }}</td>
        <td>{{ item.description }}</td>
        <td>{{ item.unity }}</td>
        <td>{{ item.disciplineId }}</td>
        <td>{{ item.amountReceived }}</td>
    </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-12">
      <app-review-archive-list componentTitle='Anexos Adicionais' componentClass="card single-card"
        [archiveList]="additionalAttachments"></app-review-archive-list>
    </div>
  </div>

  <div class="card single-card">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <span class="information-title">Observações</span>
          <p class="information-item">{{ this.commentsResult | emptyField }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-success btn-print mr-auto"
      (click)="genericPage.getData(); modal.dismiss()">
      <span class="fa fa-print"></span> Imprimir
    </button>
    <button type="button" class="btn btn-outline-success btn-cancel" (click)="modal.dismiss()">
      <span class="fa fa-times"></span> Fechar
    </button>
    <button type="button" class="btn btn-outline-success btn-save" (click)="createRma(); modal.dismiss()">
      <span class="fas fa-check"></span> Finalizar Criação de RMA
    </button>
  </div>
</ng-template>
